@using CafeApp.Shared.Components.DashboardComponents
@inherits LayoutComponentBase

<MudRTLProvider RightToLeft="true">

<MudThemeProvider />
    <MudPopoverProvider />
    <MudSnackbarProvider/>
    <MudLayout Class="dashboard">
   <TablesPanel></TablesPanel>
            <MudIcon Style="margin-top:100px;margin-right:20px" Size="Size.Large" Icon="@Icons.Material.Rounded.ArrowBack"></MudIcon>
        <MudDrawer Class="drawer-responsive" Style="margin-top:100px" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Docked" OpenMiniOnHover="true" Variant="DrawerVariant.Mini" Elevation="2">

            <NavMenu IsOpen="_drawerOpen" ></NavMenu>
    </MudDrawer>
        <MudMainContent Class="dashboard" >
            <div style="margin-right:15px;margin-top:-28px;">
        @Body
            </div>
    </MudMainContent>
</MudLayout>
</MudRTLProvider>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    string GetMargin(){
        return _drawerOpen?"":"";
    }
}