@using CafeApp.Business.Helpers.Dtos
@using CafeApp.Shared.Interfaces
@layout EmptyLayout
@inject NavigationManager _navigation;
<div class="mainbody">
    <div class="login-container">
        <!-- اضافه کردن لوگو -->
        <img src="_content/CafeApp.Shared/images/logo.png" alt="لوگو" class="login-logo">

        <div class="login-box">
            <h2>پنل مدیریتی کافه لاین</h2>
            <form >
                <div class="input-container">
                    <input type="text" @bind-value=model.Username id="username" placeholder="نام کاربری">
                </div>
                <div class="input-container">
                    <input @bind-value=model.Password type="password" id="password" placeholder="رمز عبور">
                </div>
                <button @onclick=Login class="btn btn-success btn-lg col-md-8 col-12">ورود</button>

            </form>
        </div>
    </div>

</div>
@code{
    Login model = new Login();
    void Login(){
        _navigation.NavigateTo("/dashboard",true);
    }
}